{% extends 'base.html' %}

{% block content %}
<div class="card" style="width: 18rem;">
  <h5 class="card-header">Login</h5>
  <div class="card-body">
    <form action="/auth/login" method="post">
      <div class="vstack gap-3">
        <input class="form-control" type="email" id="email" name="email" placeholder="Email" required>
        <input class="form-control" type="password" id="password" name="password" placeholder="Password" required>
        <div>
          <input class="btn btn-primary" type="submit" value="Login">
          <a class="btn btn-link" href="/register"> Register</a>
        </div>
      </div>
    </form>
  </div>  
</div>
{% endblock %}