<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game Record</title>
</head>
<body>
<form action="/register" method="post">
  <label for="fpname">First Player's name:</label><br>
  <input type="text" id="fpname" name="fpname"><br>
  <label for="spname">Second Player's name:</label><br>
  <input type="text" id="spname" name="spname"><br><br>
  <select name="res" id="res">
    <option value="white">White</option>
    <option value="tie">Tie</option>
    <option value="black">Black</option>
  </select>
  <input type="submit" value="Submit">
</form>
</body>
</html>