{% extends 'base.html' %}

{% block content %}
<h1 class="text-center">Profile</h1>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <h5 class="card-header text-center">Personal Info</h5>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <p>Username</p>
            </div>
            <div class="col">
              <p class="text-muted">{{ user.username }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p>Name</p>
            </div>
            <div class="col">
              <p class="text-muted">{{ user.firstname + " " + (user.middlename + " " if user.middlename else "") + user.lastname }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p>Rating</p>
            </div>
            <div class="col">
              <p class="text-muted">{{ user.rating }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <h5 class="card-header text-center">My tournaments</h5>
        <div class="card-body">
          {% if future_tournaments|length != 0 %}
          <h6>Future</h6>
          {% endif %}
          {% for tournament in future_tournaments %}
          <div class="row">
            <div class="col">
              <a class="text-decoration-none text-black" href="/tournament/profile/{{ tournament.id }}">{{ tournament.name }}</a>
            </div>
            <div class="col">
              <p class="text-muted">{{ tournament.date.strftime("%m/%d/%Y %I:%M%p") }}</p>
            </div>
          </div>
          {% endfor %}
          {% if past_tournaments|length != 0 %}
          <h6>Past</h6>           
          {% endif %}
          {% for tournament in past_tournaments %}
          <div class="row">
            <div class="col">
              <a class="text-decoration-none text-black" href="/tournament/profile/{{ tournament.id }}">{{ tournament.name }}</a>
            </div>
            <div class="col">
              <p class="text-muted">{{ tournament.date.strftime("%m/%d/%Y %I:%M%p") }}</p>
            </div>
          </div>
          {% endfor %}        
        </div>
      </div>
    </div>
  </div>
</div> 
{% endblock %}
