{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" href='/login/static/styles/login.css' />
{% endblock %}

{% block content %}
<form action="/login" method="post">
  <label for="email">email</label><br>
  <input type="text" id="email" name="email"><br>
  <label for="password">password</label><br>
  <input type="password" id="password" name="password"><br><br>
  <input type="submit" value="Login">
  <a href="/register"> Register</a>
</form>
<a class="error">{{ message }}</a>
{% endblock %}