{% extends 'base.html' %} {% block content %}
<form action="/tournament/{{ tournament_id }}/game/record" method="post">
  <label for="white_user">white piece player's username:</label><br />
  <input type="text" id="white_user" name="white_user" /><br />
  <label for="black_user">black piece player's username:</label><br />
  <input type="text" id="black_user" name="black_user" /><br /><br />
  <label for="result">winner:</label><br />
  <select name="result" id="result">
    <option value="white">white</option>
    <option value="tie">tie</option>
    <option value="black">black</option>
  </select>
  <input type="submit" />
</form>
{% endblock %}
