{% extends 'base.html' %}

{% block content %}
<h1 class="text-center">{{ tournament.name }} tournament</h1>
<div class="card">
    <h5 class="card-header text-center">Participants</h5>
    <div class="card-body">
        {% for user in tournament.users %}
        <div class="row">
        <div class="col">
            <a href="/profile/{{user.id}}" class="text-decoration-none text-black">{{ user.firstname + " " + user.lastname }}({{ user.username }})</a>
        </div>
        <div class="col">
            <p class="text-muted">{{ user.rating }}</p>
        </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="card">
    <h5 class="card-header">Description</h5>
    <div class="card-body">
        {{ tournament.description }}
    </div>
</div>
<div class="card">
    <h5 class="card-header">Games</h5>
    <div class="card-body">
        {% for game in games %}
        <div class="col-3">
            <table class="table table-bordered">
                <tr>
                    <th><a href="/profile/{{game['white'].id}}"
                        class="text-decoration-none text-black">{{game["white"].username}}</a></th>
                    <th>{{game["white_score"]}}</th>
                </tr>
                <tr>
                    <th><a href="/profile/{{game['black'].id}}"
                        class="text-decoration-none text-black">{{game["black"].username}}</a></th>
                    <th>{{game["black_score"]}}</th>
                </tr>
            </table>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}