{% extends 'base.html' %}

{% block content %}
<h1 class="text-center">{{ tournament.name }} tournament</h1>
<div class="card">
    <h5 class="card-header text-center">Participants</h5>
    <div class="card-body">
        {% for user in tournament.users %}
        <div class="row">
        <div class="col">
            <a href="/profile/{{user.id}}" class="text-decoration-none text-black">{{ user.firstname + " " + user.lastname }}({{ user.username }})</a>
        </div>
        <div class="col">
            <p class="text-muted">{{ user.rating }}</p>
        </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="card">
    <h5 class="card-header">Description</h5>
    <div class="card-body">
        {{ tournament.description }}
    </div>
</div>
<div class="card">
    <h5 class="card-header">Games</h5>
    <div class="card-body">
        <div class="row">
            {% for round in tournament.rounds %}
            <div class="col">
                {% for game in round.games %}
                <table class="table table-bordered">
                    {% for assoc in game.users %}
                    <tr>
                        <th><a href="/profile/{{ assoc.users.id }}"
                            class="text-decoration-none text-black">{{ assoc.users.username }}</a></th>
                        {% if assoc.color %}
                            <th>{{ game.result }}</th>
                        {% else %}
                            <th>{{ -game.result }}</th>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </table>
            {% endfor %}
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}